

.p-column-filter-clear-button , 
.p-column-filter-menu-button
{
    display: none;
}

/* td[role="cell"]{
    container-type: inline-size;
    font-size: 2.7cqi;
} */

.p-fluid .p-column-filter-element{
    min-width: 100%;
}


.UserTable--Public-icon{
    width:25px;
    height:25px;
}

.UserTable--button{
    width:20px;
    height:20px;
    display: grid;
    place-content: center;
    background-color: var(--backgroud-color);
    margin: auto;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: .6em 1em;
    cursor: grab;
}
.UserTable--button:hover{
    background-color: var(--primary-color1);
}


.UserTable--button.edit-button{
    color: green;
    
}

.UserTable--button.delete-button{
    color: red;
    
}

.UserTable--button.addToRecipe-button{
    color: green;
    font-weight: bolder;
    font-size: large;
}