

.p-column-filter-clear-button , 
.p-column-filter-menu-button
{
    display: none;
}


.p-fluid .p-column-filter-element{
    min-width: 100%;
}

@media (max-width: 768px) {
    .custom-mobile-table .p-datatable-tbody > tr {
      display: flex;
      flex-wrap: wrap;
    }
  
    /* W jednym rzędzie: 4,1,2 */

    .custom-mobile-table .p-datatable-tbody > tr > td:nth-child(1) {
      order: 1;
      flex: 1 1 33%;
    }
    .custom-mobile-table .p-datatable-tbody > tr > td:nth-child(2) {
      order: 2;
      flex: 1 1 33%;
    }
    .custom-mobile-table .p-datatable-tbody > tr > td:nth-child(4) {
        order: 3;
        flex: 1 1;
    }
  
    /* Trzecia kolumna pod nimi */
    .custom-mobile-table .p-datatable-tbody > tr > td:nth-child(3) {
      order: 4;
      flex: 1 1 100%;
    }

     /* Header */
    .custom-mobile-table .p-datatable-thead > tr {
        display: flex;
        flex-wrap: wrap;
    }
    .custom-mobile-table .p-datatable-thead > tr > th:nth-child(1) {
        order: 1;
        flex: 1 1 33%;
      }
      .custom-mobile-table .p-datatable-thead > tr > th:nth-child(2) {
        order: 2;
        flex: 1 1 33%;
      }
      .custom-mobile-table .p-datatable-thead > tr > th:nth-child(4) {
          order: 3;
          flex: 1 1;
      }

    .custom-mobile-table .p-datatable-thead > tr > th:nth-child(3) {
        display: none;
    }
  }
  


.UserTable--Public-icon{
    width:25px;
    height:25px;
}

.UserTable--button{
    width:20px;
    height:20px;
    display: grid;
    place-content: center;
    background-color: var(--backgroud-color);
    margin: auto;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: .6em 1em;
    cursor: grab;
}
.UserTable--button:hover{
    background-color: var(--primary-color1);
}


.UserTable--button.edit-button{
    color: green;
    
}

.UserTable--button.delete-button{
    color: red;
    
}

.UserTable--button.addToRecipe-button{
    color: green;
    font-weight: bolder;
    font-size: large;
}