.CommentsPanelTemplate{
    display: inline-flex;
    flex-direction: column;
    background: $gv_primaryColorGradient_reversed;
    z-index: 0;

    & > .header{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap:15px;
        padding-left: 30px;
        
        
        min-height: 50px;
        filter:saturate(1);
        z-index: 0;

        & img{
            position: relative;
            height: 200%;
        }
        
    }

    & .commentWritter{
        display: flex;
        flex-direction: row;
        gap:15px;
        justify-content: center;
        align-items: center;
        padding: 10px;;
    }
    
    & .body{
        display: flex;
        flex-direction: column;
        gap:5px;
        padding: 10px;
        justify-content: center;
    }
}