/* Plik: _recipe-card.scss */

// Zmienne SCSS
$color-white: #ffffff;
$color-text-dark: #212121;
$color-text-light: #6a6a6a;
$color-accent: #00bcd4; // Turkus
$spacing-m: 16px;
$spacing-l: 24px;
$border-radius: 12px;

.recipe-card {
  // Podstawa karty
  background: $color-white;
  border-radius: $border-radius;
  
  // Subtelny cień
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 300px;
  cursor: pointer;
  margin-bottom: 20px;

  box-shadow: 
    0 10px 30px rgba(0, 0, 0, 0.15), // Główny, duży cień
    0 4px 6px rgba(0, 0, 0, 0.1),
    10px 10px 15px rgba(0, 0,0,0.2);
   

  // Efekt najechania (Hover)
  &:hover {
    transform: translateY(-4px); // Lekkie uniesienie
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15),
    10px 10px 15px rgba(0, 0,0,0.3); // Wyraźniejszy cień
  }

  &__image-container {
    padding: $spacing-l;
    padding-bottom: 0;
    height: 180px; 
    margin-bottom: 10px;
  }

  &__image {
    width: 100%;
    height: 180px; 
    object-fit: cover;
    border-radius: 8px;
  }

  &__content {
    padding: $spacing-l;
    padding-top: $spacing-m;
  }

  &__title {
    color: $color-text-dark;
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 8px 0;
    line-height: 1.3;
  }

  &__details {
    color: $color-text-light;
    font-size: 14px;
    margin: 0;
  }
}