.ResizableDivider {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;

    .leftPane {
      overflow: auto;
      z-index: 0;
    }
    
    .rightPane {
      overflow: auto;
      flex: 1;
      z-index: 0;
    }
    
    .resizer {
      width: 5px;
      cursor: col-resize;
      background-color: $gv_primary_color2;
      transition: background-color 0.2s;
      margin-left: 3px;
      margin-right: 3px;
      margin-top: 5px;
    }
    
    .resizer:hover {
      background-color: $gv_primary_color1;
    }

  }
  

  