@use './_Button3D' as *;

.Button3D {
  @include Button3D(rgb(0, 126, 48), #000201,52px);
  font-family: 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 600;
}


.Button3D {
  &.nav {
    @include Button3D-modColor(rgb(184, 179, 179), rgb(255, 236, 173)); 
    @include Button3D-modHeight(52px);
    font-weight: bold; 
    font-size: clamp(0.5rem,1.2rem,1.4rem);
    line-height: 14px;
    font-family: $g_Font_handwritting;
    margin-right: 5px;

    &.c1 {
      @include Button3D-modColor(rgb(202, 167, 167), rgb(255, 236, 173)); 
    }
  
    &.c2 {
      @include Button3D-modColor(rgb(184, 179, 179), rgb(255, 236, 173)); 
    }
  
    &.c3 {
      @include Button3D-modColor(rgb(165, 179, 187), rgb(255, 236, 173)); 
    }
  
    &.c4 {
      @include Button3D-modColor(rgb(183, 190, 143), rgb(173, 255, 187)); 
    }
  }
  
  &.active {
    @include Button3D-modFontColor(rgb(255, 255, 255),
    -2px 0 5px #ff0,
    2px 0 5px #ff0,
    0 -2px 5px #ff0,
    0 2px 5px #ff0,
    )
  }
  
  &.AddProductButton{
    @include Button3D-modHeight(40px);
    @include Button3D-modColor(rgb(202, 200, 89), rgb(28, 110, 42)); 
    font-weight: 600;
  }

  &.EditButton{
    @include Button3D-modHeight(28px);
    @include Button3D-modColor(rgb(101, 103, 104), rgb(68, 185, 0)); 
  }

  &.productBtn{
    font-size: 1.4rem;
    font-weight: 700;
    &.add{
      width:60%;
      @include Button3D-modColor(#156604, rgb(207, 236, 137),true); 
    }
    &.clear{
      width: 30%;
      @include Button3D-modColor( rgb(255, 238, 0),rgb(226, 20, 20),true);
    }

  }


  &.recipeBtn{
    width:100%;
    
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 600;
    &.add{
      @include Button3D-modColor(#156604, rgb(207, 236, 137),true);
      &.img{
        width:90px;
        @include Button3D-modHeight(90px);
      }

    }

    &.clear{
      @include Button3D-modColor(rgb(226, 20, 20), rgb(255, 238, 0),true);

    }

  }

  &.commentBtn{
    @include Button3D-modHeight(35px);
    @include Button3D-modColor(rgb(67, 125, 143), rgb(223, 213, 76));
  }
}

.Button3D:disabled {
  cursor: not-allowed;
  opacity: 0.9;
  pointer-events: none;
  @include Button3D-modColor(rgb(141, 141, 141), rgb(176, 175, 175)); 
}