$shadow-dark: rgba(0, 0, 0, 0.4);
$secondary-color: #ffc107; 
$border-color: #ccc;
$screen-width-limit: 70vw; 
$screen-height-limit: 90vh; 

$reduced-padding: 8px; 
$font-size-base: 0.9em; 
$font-size-header: 1.8em; 
$font-size-button: 1.0em; 
$line-height-header: 3px; 

.Home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 70vh;
    min-width: 90vw;
    margin-top: 20px;


    .WelcomeScreen{
        width:70%;
        border: 3px solid $gv_primary_color2;
        border-radius: 20px;
        background-color: #fff;
        box-shadow: 
            10px 10px 20px $shadow-dark; 

        text-align: center;
        margin-bottom: 15px;

        h2 {
            @include header-h2();
        }

        .header-line {
            display: block;
            height: $line-height-header;
            background-color: $secondary-color;
            width: 70%; 
            margin: 0 auto 0 auto; 
        }

        ul{
            display: flex;
            flex-direction: column;
            gap:20px;
            margin-top: 50px;
        }
        li{ text-align: left;
            font-size: 1.1em;
            
            @media (max-width: $g_breakpoint-md){
                text-align: center;
                padding-right: 10px;
            }
        }
    }
    .Carousel{
        width:60%;
        overflow: visible;

        .p-link{
            color: $gv_primary_color2;
            background-color: $gv_primary_color1;
        }

        .p-highlight .p-link{
            background-color: $gv_primary_color2;
        }

        
        

    }

}

