.AddButton-container{
    background: $g_primaryColorGradient_reversed;
    width: 200px;
    padding-block: 13px;
    position:relative;
    border: #62dfdf 2px solid;
    display: grid;
    place-items: center;
    z-index: 9;
    border-radius: 40%;

}