.AddButton-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:15px;
    padding-left: 30px;
    
    min-height: 50px;
    filter:saturate(0.95) opacity(0.95);
    z-index: 0;

    width:100%;
    background: $gv_primaryColorGradient_reversed;
    border-radius: 20px;

    align-self: center;
  

}