.AddButton-container{
    background: $gv_primaryColorGradient_reversed;
    width: 200px;
    padding-block: 9px;
    position:relative;
    border: $gv_primary_color2 2px solid;
    display: grid;
    place-items: center;
    z-index: 9;
    border-radius: 7%;

}