.TextArea3D{
    
    position: relative;
   background-color: rgba(0, 0, 0, 0.15);
   box-shadow: 
   /* 1. Top/Left Highlight (makes the edge look convex/raised) */
   -1px -1px 2px rgba(255, 255, 255, 0.8),
   /* 2. Bottom/Right Drop Shadow (lifts the component off the background) */
   3px 3px 6px rgba(0, 0, 0, 0.4), 
   /* 3. Subtle Inner Edge (makes the frame look rounded) */
   inset 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    display:grid;

    & .frame-internal{
        position: relative;
        width:calc(100% - 8px);
        max-width:calc(100% - 8px);
        height:calc(100% - 8px);
        place-self: center;
        background-image:  
        // this is non-standard addidiotn to this component to give it site motives
        linear-gradient(135deg, $gv_primary_color1 0%, transparent 35%),
        linear-gradient(-45deg, $gv_primary_color2 0%, transparent 35%),

        radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.18) 0%, rgba(255, 255, 255, 0.00) 70%),
        radial-gradient(4px 8px at 4px calc(100% - 8px),
         rgba(255, 255, 255, 0.25), transparent), 
         radial-gradient(4px 8px at calc(100% - 4px) calc(100% - 8px), rgba(255, 255, 255, 0.25), transparent), 
         radial-gradient(16px at -4px 0, white, transparent), 
         radial-gradient(16px at calc(100% + 4px) 0, white, transparent);
        box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3), inset 0 -1px 3px 3px rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(8px);

        border-radius: 8px/16px 16px 8px 8px;
        word-wrap: break-word;
        overflow-wrap: break-word;
        white-space: pre-wrap;
        word-break: break-all;

        text-align: left;
        
        box-sizing: border-box;
        padding: 6px 10px 10px 10px;

        outline: none; // turn off blue outline when selected


        &:focus{
            box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5), inset 0 -1px 3px 3px rgba(0, 0, 0, 0.4);
        }
    }

    & .chars-counter{
        position: absolute;
        bottom: 9px;
        right: 11px;
        font-size: 12px;
        color: #050505;
        pointer-events: none;
        z-index: 10;
        text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
    }
}