:root{ 
  --primary-color1:#dd8064;
  --primary-color2:#b0f039;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background:
    linear-gradient(180deg, var(--primary-color1), var(--primary-color1)),
    linear-gradient(180deg, rgba(255,255,255,0.4), rgba(255,255,255,0.7));
  background-blend-mode: lighten;
  font-family: "Inter", sans-serif;
}

.site-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main{

  padding: 15px;
  flex:1;
  display: flex;
  flex-direction: column;
}


