footer{
    background: $gv_primaryColorGradient;
    min-height: 36px;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width:100%;
    padding: 0 5%;
    position: static;
    bottom: 0;
   
    font-family: $g_Font_handwritting;



    &  h3{
        font-size: 0.9rem;
        
        font-style: italic;
    }

    &  a{
        font-family: Arial, Helvetica, sans-serif;
    }

    & .theming{
        margin-right:auto;
        display: flex;
        flex-direction: row;
        gap:10px;

        & > label{
            font-weight: 500;
            font-size: 0.8rem;
            display: flex;
            align-items: center;
            margin-right: 3px;
            & > input{
                margin-left: 3px;
            }
        }
    }
    
    & .title{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap:10px;
    }
}

@media(max-width:$g_breakpoint-md){
    footer{
        flex-direction: column;
        & .theming{
            padding-top:10px;
            justify-content: center;
            margin-right:0;
        }
    }
}