
$RecipeForm-primary-bg-color: #156604;
$RecipeForm-secondary-bg-color: #243b5f;
$RecipeForm-hover-bg-color: #ce9c13;
$RecipeForm-text-color: rgb(207, 236, 137);
$RecipeForm-border-color: rgb(146, 223, 123);

$RecipeForm-font-family: 'Arial', sans-serif;
$RecipeForm-font-size-small: 14px;
$RecipeForm-font-size-large: 1.5rem;

$font-size-header: 1.8em; 

.RecipeForm {
  display: flex;
  flex-direction: column;
  align-content: center;

  h2 {
      @include header-h2();
  }



  .info-container {
    display: grid;
    grid-template-columns: 20% 77%;
    justify-content: space-between;
    align-items: center;
    margin-block: 10px;
    width: 100%;

    .description-container {
      display: flex;
      flex-direction: row;
      justify-content: stretch;
      align-items: center;

      .description-label {
        writing-mode: sideways-lr;
        background-color: $RecipeForm-primary-bg-color;
        color: $RecipeForm-text-color;
        padding: 5px;
        font-family: $RecipeForm-font-family;
        font-size: $RecipeForm-font-size-small;
        font-weight: bold;
        border: 1px solid $RecipeForm-border-color;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100px;
        z-index: 1;
      }

      > textarea {
        min-height: 100px;
        min-width: 90%;
        flex-grow: 1;
        width: 100%;
        background-color: $RecipeForm-secondary-bg-color;
        color: $RecipeForm-text-color;
        padding: 10px;
        border: 1px solid $RecipeForm-border-color;
        font-family: $RecipeForm-font-family;
        font-size: $RecipeForm-font-size-small;
        resize: vertical;
      }
    }
  }

  .title-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: stretch;
    align-self: center;

    .title-label {
      background-color: $RecipeForm-primary-bg-color;
      color: $RecipeForm-text-color;
      padding: 15px;
      font-family: $RecipeForm-font-family;
      font-size: $RecipeForm-font-size-large;
      font-weight: bold;
      border: 1px solid $RecipeForm-border-color;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      z-index: 1;
    }

    > input {
      flex-grow: 1;
      width: 100%;
      background-color: $RecipeForm-secondary-bg-color;
      color: $RecipeForm-text-color;
      padding: 8px;
      border: 1px solid $RecipeForm-border-color;
      font-family: $RecipeForm-font-family;
      font-size: $RecipeForm-font-size-small;
    }
  }

  

  
}
