.RecipeForm2{
    
    position: relative;
    z-index: 2;

    .header{
        display: grid;
        place-items: center;
        font-family: $g_Font_handwritting;
        font-size: 1.2em;
    }

    .body{
        //background: $gv_primaryColorGradient_reversed;
        border-radius: 20px;
        padding: 10px;
        min-width: 100%;
        position: relative;

        .title-container{
            display: flex;
            align-items: center;
            min-width: 100%;
            position: relative;
            z-index: 5;

            .title{
                width: 100%;
            }
        }

    }

    .btn-recipe-container{
        margin-top: 20px;
    }

}